#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-
# Copyright (C) 2012 Chris Hildebrandt <slam@aptosid.com>
# Description: Main Debian packaging script for LXDM
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2, or (at
# your option) any later version.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <http://www.gnu.org/licenses/>.

# Rename config file
DEB_BUILD_MAINT_OPTIONS = hardening=+all,-format
DEB_CFLAGS_MAINT_APPEND  = -DCONFIG_FILE=\"/etc/lxdm/default.conf\"
DEB_LDFLAGS_MAINT_APPEND = -Wl,-z,defs -Wl,--as-needed
export DEB_BUILD_MAINT_OPTIONS DEB_CFLAGS_MAINT_APPEND DEB_LDFLAGS_MAINT_APPEND
	
%:
	dh ${@} --parallel
	
override_dh_auto_configure:
	dh_auto_configure -- --libexecdir=/usr/lib/lxdm
	
override_dh_install:
	dh_install
	mkdir -p debian/lxdm/etc/insserv.conf.d
	cp debian/lxdm.insserv debian/lxdm/etc/insserv.conf.d/lxdm
	
override_dh_installinit:
	dh_installinit --no-start
